body{
    background-image: url('..//images/photos/academie.jpg');
    background-repeat: no-repeat center fixed;
    background-size: cover;
   }

  .blanc{
    text-align: center;
    margin-top: 10px;
    background-color:rgb(50, 190, 245);
    color: #fff;
  }
  .connexion{
      width: 50%;
      margin-top: 50px;
      padding-top: 10px;
<<<<<<< HEAD
      opacity: 0.7;
      background-color: WHITE;
=======
      background-color: #fff;
      opacity: 0.9;
>>>>>>> 1de3f05d78db2c9bc149bafceae56e6ac012a775
  }

  .cle{
    height: 30px;
    width: 40px;
  }

  .user{
    height: 40px;
    width: 40px;
  }

  .icone{
    height: 50px;
    width: 7%;
    margin-left: 50px;
  }
 