body{
    background-image: url('../images/photos/ia.jpg');
    background-repeat: no-repeat;
  }
  .blanc{
    text-align: center;
    margin-top: 25px;
    background-color:gray
  }
  .connexion{
      width: 50%;
      margin-top: 100px;
  }