body{
    background-image: url('..//images/photos/academie.jpg');
    background-repeat: no-repeat center fixed;
    background-size: cover;
   }

  .blanc{
    text-align: center;
    margin-top: 10px;
    background-color:rgb(50, 190, 245);
    color: #fff;
  }
  .connexion{
      width: 50%;
      margin-top: 50px;
      padding-top: 10px;
      opacity: 0.8;
      background-color: WHITE;
  }

  .connexion{
    font-size: 12px;
}


  .cle{
    height: 30px;
    width: 40px;
  }

  .user{
    height: 40px;
    width: 40px;
  }

  .icone{
    height: 50px;
    width: 7%;
    margin-left: 50px;
  }
 