#logo{
  font-family: Algerian, Calibri sans-serif;
}
.info{
  width: 900px;
  margin: auto;
}
.info img{
  width: 900px;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
  
.menu-icone{
  height: 30px;
  width:30px;
  margin: 0px;
}
.article{
    margin-top: 10px;
    background-color: grey
    width: 50%;
  text-align: center;
}
.liste{
  margin-top: 10px;
  background-color: rgb(75, 122, 223);
  text-align: center;
  width: 50%;
}
th, td{
    text-align: center;
    vertical-align: middle;
}
th{
    font-weight: bold;
    font-size: 20px;
    background-color:grey;
    color: #fff;   
}
 

table a{
  text-decoration: none;
}

/* Pour reduire ou augmenter la largeur des colonnes des tableaux */
.th-lg{
  width: 80%;
}

.th-md{
  width: 30%;
}

.th-sm{
  width: 15%;
}

.h2, h3, h4, h5, h6{
  text-align: center;
  color:white;
}
/* fin tableau */

footer{
  margin-bottom: 0px;
  height: 30px;
  background-color: rgb(236, 241, 241);
  margin-top: 400px ;
  
}

footer p{
  text-align: center;
}

main{
  padding-bottom: 0px;
  
  
}
.zonegrise{
  font-weight: bold;
  background-color: rgb(241, 244, 247);
  font-size: 17px;
  padding-left: 20px;
  margin: auto;
}

.icone{
  height: 50px;
  width:80px;
  margin-right: 30px;
}
