#logo{
  font-family: Algerian, Calibri sans-serif;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
<<<<<<< HEAD
  .menu-icone{
    height: 20px;
    width:25px
=======
  img{
    height: 30px;
    width:30px
>>>>>>> fa2e18a8b68e56ab30f40dfd5b077d6b21599c4c
  }
  .article{
      margin-top: 10px;
      background-color: rgb(66, 221, 144);
      width: 50%;
    text-align: center;
    }
    .liste{
      margin-top: 10px;
      background-color: rgb(75, 122, 223);
      text-align: center;
      width: 50%;
    }
th, td{
    text-align: center;
}
th{
    font-weight: bold;
    font-size: 20px;
    background-color:rgb(226, 179,35);
    color: #fff;
  
    
}

table a{
  text-decoration: none;
}

/* Pour reduire ou augmenter la largeur des colonnes des tableaux */
.th-lg{
  width: 80%;
}

.th-md{
  width: 30%;
}

.th-sm{
  width: 15%;
}

.h2, h3, h4, h5, h6{
  text-align: center;
  color:white;
}

#notification button{
  width: 80%;
  margin-right: 0px;
}
/* fin tableau */



